@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #232d45;
  font-family: "Roboto", sans-serif;
  padding: 2em;
  color: #f0e7e7;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.header .logo-text {
  font-size: 2.5rem;
  font-weight: 400;
}
.cta {
  padding: 0.5em 0.75em;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #f0e7e7;
  color: #f0e7e7;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
}
.cta:hover {
  background-color: #484e5c;
}
.todo-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.todo-check,
.todo-check + label {
  cursor: pointer;
}
.todo-check:checked + label {
  text-decoration: line-through;
  color: #a3a1a1;
}
.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.form-ctas{
  display: flex;
  gap: 1em;
  justify-content: end;
}
.todo-input {
  border: 1px solid #f0e7e7;
  width: 100%;
  border-radius: 4px;
  padding: 0.65em 0.65em;
  font-size: 1.125rem;
  color: #f0e7e7;
  outline: none;
  background: transparent;
}
